header, nav {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}

header h1 {
    font-size: 2rem;
}

h4 {
    font-style: italic;
}

figure img, figure figcaption {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#skipLinks {
    visibility: hidden;
}

#skipLinks:focus {
    visibility: visible;
    text-align: center;
    padding: 0px 0px 30px 0px;
}

.list1 {
    font-weight: bold;
}

li {
    margin-bottom: 1em;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

table caption {
    margin-bottom: 0.3em;
}

th, td {
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}

th {
    padding: 0.5em;
    background-color: lightskyblue;
}

#quizNav {
    display: block;
    float: none;
    margin: auto;
}

nav {
    border: 1px solid gray;
    margin: 2em;
    width: fit-content;
    padding: 10px;
    float: left;
}

nav h2 {
    font-size: 1.2em;
    font-weight: bold;
}

nav li {
    margin-bottom: 0px;
}

nav ul {
    padding-left: 1.4em;
}